<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Short URL index</h1>
    <form action = "/" method = "POST">
        <p>Original URL:</p>
        <p><input type = "text" name = "url_get" /></p>
        <p>Custom URL:</p>
        <p><input type = "text" name = "custom_url" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form> 
     {% for url in urls %}
     <p>{{ url }}</p>
     {% endfor %}
</body>
</html>